#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff9db;
}
.mainPage{
    flex-grow:1;
}

.formulario {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
  }
.botonFormulario {
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.75); 
   
  }
  
 .formBackground{
  background: rgb(195,226,28);
background: radial-gradient(circle, rgba(195,226,28,0.8827906162464986) 0%, rgba(217,244,210,1) 100%);
 }

 .featured-color{

  background: #163D30;
 }


 .border{
  --bs-border-color: #163D30;
 }
 hr{
  --bs-border-width: 2px;
 }
 .carousel-control-next-icon {
  background-image: none!important;
}
.carousel-control-prev-icon {
  background-image: none!important;
}
 .carousel-indicators [data-bs-target] {
  width: 0!important;
  z-index: 0!important;
 }
 .carousel-caption {
  padding-bottom: 0!important;
 }


 @media all and (max-width: 575px){
  .img-responsive{
    height: 250px;
    object-fit: cover;
   }

   .carousel-responsive{
    height: 200px;
    object-fit: cover;
   }
   .img-detail{
    width: 100%;
    height: 300px;
    object-fit: cover;
   }

   .img-footer{
    height: 120px;
   }

}
@media all and (min-width: 575px)and (max-width: 767px){
  .img-responsive{
    height: 270px;
    object-fit: cover;
  }
 
  .carousel-responsive{
    height: 135px;
    object-fit: cover;
   }

   .img-detail{
    width: 100%;
    height: 340px;
    object-fit: cover;
   }
   .img-footer{
    height: 150px;
   }


}


@media all and (min-width: 768px){
  .img-responsive{
    height: 350px;
    object-fit: cover;
   }
 
   .carousel-responsive{
    height: 175px;
    object-fit: cover;
   }

   .img-detail{
    width: 100%;
    height: 330px;
    object-fit: cover;
   }
   .img-footer{
    height: 170px;
   }
} 